*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'poppins',sans-serif ;
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: transparent;
    position: relative;
    z-index: 99;
}

.logo{
    position: relative;
    display: contents;
    align-items: center;
}

.logo img{
    width: 5%;
}

.section1 .links{
    display: flex;
    column-gap: 30px;
    align-items: center;

}

.section1 .links a{
    text-decoration: none;
    color: #314584;
    font-weight: 800;
}

.links a:hover{
    color: red;
}

.butt button{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    background-color: white;
    color: red;
    border: none;
}
h1{
    color: #314584;
}
a{
    text-decoration: none;
    color: #314584;
    font-weight: 800;
}
.linko{
    display: flex;
    column-gap: 40px;
    align-items: center;
}


.linkred{
    background-color: red;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 50px;
}
.left h1{
    font-size: 40px;
    font-weight: 800;
}

.left{
    padding-inline: 140px;
    width: 49vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.left p{
    line-height: 1.5;
}



.child1{
    width: 98vw;
        height: 63vh;
    display: flex;
}



.right{
    width: 49vw;
    z-index: 1;
}

.right img{
    width: 600px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
}