.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    position: relative;
}

.logo h1::after{
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: red;
    position: absolute;
    left: 20px;
}

.section1 .links{
    display: flex;
    column-gap: 30px;
    align-items: center;

}

.section1 .links a{
    text-decoration: none;
    color: #314584;
}

.links a:hover{
    color: red;
}

.butt button{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    background-color: white;
    color: red;
    border: none;

    
}
