*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'poppins',sans-serif ;
}

.section1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.logo{
    position: relative;
    display: contents;
    align-items: center;
}

.logo img{
    width: 5%;
}

.section1 .links{
    display: flex;
    column-gap: 30px;
    align-items: center;

}

.section1 .links a{
    text-decoration: none;
    color: #314584;
    font-weight: 800;
}

.links a:hover{
    color: red;
}

.butt button{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    background-color: white;
    color: red;
    border: none;
}
h1{
    color: #314584;
}